<section class="lg:flex lg:items-center lg:justify-between lg:my-10">
    <div class="text-center my-10 lg:w-[50%]">
        <h1 class="font-bold text-3xl mb-2">Acerca de Cumbre</h1>
        <p class="text-sm mb-3">
            Cumbre te facilita la búsqueda de empleo con vacantes claras y accesibles.
        </p>        
        <a href="" class="hidden text-sm">
            <button class="bg-white text-black font-bold p-2 px-4 rounded-xl"
                >más</button
            >
        </a>
    </div>
    <div class="w-full flex justify-center mb-10 lg:w-[50%] lg:mb-0">
        <img class="w-[70%] lg:w-full rounded-3xl" src="/img/mock-cumbre-inicio.png" alt="" />
    </div>
</section>

<style>
    section {
        ul {
            li {
                margin-bottom: 10px;
                button {
                    border: 1px solid gray;
                    width: 100%;
                    text-align: left;
                    padding: 10px;
                    border-radius: 15px;
                    font-weight: 500;
                }

                p {
                    padding: 10px 0px;
                    padding-left: 10px;
                    display: none;
                }
            }
        }
    }
</style>

<section>
    <h2 class="font-bold text-xl mb-5">Preguntas frecuentes</h2>
    <ul>
        <li>
            <button class="toggle-btn">
                <h3>¿Cumbre es gratis?</h3>
            </button>
            <p class="answer">Sí, Cumbre es totalmente gratis.</p>
        </li>
        <li>
            <button class="toggle-btn">
                <h3>¿Necesito registrarme para usar Cumbre?</h3>
            </button>
            <p class="answer">No, no necesitas registrarte ni proporcionar datos personales para ver las vacantes. Simplemente entra en Cumbre.icu y comienza a buscar tu empleo ideal.</p>
        </li>
        <li>
            <button class="toggle-btn">
                <h3>¿Cómo puedo aplicar a una vacante que encuentro en Cumbre?</h3>
            </button>
            <p class="answer">Cumbre actúa como intermediario. Cuando encuentres una vacante que te interese, haz clic en "Aplicar ahora" y serás redirigido al sitio web original donde está publicada la oferta para que completes el proceso de postulación.</p>
        </li>
        <li>
            <button class="toggle-btn">
                <h3>¿Cumbre almacena mis datos personales?</h3>
            </button>
            <p class="answer">No, Cumbre no solicita ni almacena ningún dato personal. Puedes navegar y buscar empleos sin registrarte ni compartir información personal.</p>
        </li>
        <li>
            <button class="toggle-btn">
                <h3>¿Puedo filtrar las vacantes según mis intereses?</h3>
            </button>
            <p class="answer">Sí, Cumbre te permite filtrar vacantes según categorías, ubicaciones y otros criterios para que encuentres el empleo que mejor se adapte a tus intereses.</p>
        </li>
        <li>
            <button class="toggle-btn">
                <h3>¿Qué tipo de empleos puedo encontrar en Cumbre?</h3>
            </button>
            <p class="answer">En Cumbre puedes encontrar una amplia variedad de empleos en diferentes sectores como tecnología, administración, salud, entre otros, a nivel nacional en Colombia.</p>
        </li>
        <li>
            <button class="toggle-btn">
                <h3>¿Cumbre verifica las vacantes publicadas?</h3>
            </button>
            <p class="answer">Cumbre recopila e indexa las vacantes de diversas fuentes en línea, pero no se encarga de verificar directamente las ofertas. Te recomendamos siempre revisar los detalles en el sitio web oficial de la oferta.</p>
        </li>
        <li>
            <button class="toggle-btn">
                <h3>¿Cómo puedo contactar a Cumbre si tengo una pregunta o problema?</h3>
            </button>
            <p class="answer">Puedes contactar a Cumbre a través del formulario de contacto en nuestro sitio web o enviando un correo electrónico a soporte@cumbre.icu.</p>
        </li>
    </ul>
    

    <script>
        const buttons = document.querySelectorAll(".toggle-btn");

        buttons.forEach((button) => {
            button.addEventListener("click", () => {
                // Oculta todos los párrafos antes de mostrar el correspondiente al botón
                document.querySelectorAll(".answer").forEach((p) => {
                    p.style.display = "none";
                });

                // Muestra el párrafo correspondiente al botón clicado
                const answer = button.nextElementSibling;
                if (
                    answer.style.display === "none" ||
                    answer.style.display === ""
                ) {
                    answer.style.display = "block";
                } else {
                    answer.style.display = "none";
                }
            });
        });
    </script>
</section>

<section class="my-5">
    <h2 class="font-bold text-xl mb-2">¿Deseas contactarnos?</h2>
    <h3 class="font-semibold">Sólo atenderemos solicitudes sobre:</h3>
    <ul class="text-sm my-5">
        <li>
            - Mejoras en el servicio
        </li>
        <li>
            - Errores ocacionales
        </li>
        <li>
            - Contacto empresarial
        </li>
    </ul>
    <style>
        form {
            input, textarea {
                padding: 10px;
                border-radius: 15px;
                margin-bottom: 10px;
            }
        }
    </style>
    <form class="flex flex-col items-center text-black">
        <input type="text" placeholder="Nombre" class="w-full">
        <input type="email" name="" id="" placeholder="Email" class="w-full">
        <textarea name="" id="" class="w-full h-[150px]" placeholder="Escribe tu contacto"></textarea>
        <button class="bg-gray-900 w-full p-3 font-bold text-white text-sm rounded-xl">
            Continuar
        </button>
    </form>
</section>