---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import PageTrabajo from "../components/routes/trabajo/PageTrabajo.astro";
---

<Layout title="Trabajo">
    <main class="flex w-full">
        <Header />
        <div class="w-full p-3 pb-[60px] lg:ml-[25%] xl:ml-[20%] lg:p-6">
            <PageTrabajo />
        </div>
    </main>
</Layout>
