<header
    class="fixed bottom-0 left-0 w-full bg-gray-900 text-[11px] p-2 lg:fixed lg:w-[25%] lg:h-screen lg:text-[16px] xl:w-[20%] lg:p-3"
>
    <ul class="flex justify-around items-center lg:flex-col">
        <a href="/" class="hidden lg:block lg:w-full mb-5">
            <li
                class="flex flex-col items-center lg:flex-row lg:w-full lg:p-2 lg:rounded-xl"
            >
                <img
                    src="https://th.bing.com/th/id/R.70ecfdd862bdc3fdbf5715085812f49e?rik=fDJPk4oWTEisvw&pid=ImgRaw&r=0"
                    alt=""
                    class="w-[40px]"
                />
                <h1 class="text-xl ml-3">
                    <strong>Facebook</strong>
                </h1>
            </li>
        </a>
        <a href="/" class="lg:w-full">
            <li
                class="flex flex-col items-center lg:flex-row lg:w-full lg:p-2 lg:px-5 lg:rounded-xl"
                id="btnInicio"
            >
                <img src="/img/homeNoClick.svg" alt="" />
                <span class="mt-[3px] lg:ml-2"> Inicio </span>
            </li>
        </a>
        <a href="/buscar" class="lg:w-full">
            <li
                class="flex flex-col items-center lg:flex-row lg:w-full lg:p-2 lg:px-5 lg:rounded-xl"
                id="btnBuscar"
            >
                <img src="/img/searchNoClick.svg" alt="" />
                <span class="mt-[3px] lg:ml-2"> Buscar </span>
            </li>
        </a>
        <a href="/chat" class="lg:w-full">
            <li
                class="flex flex-col items-center lg:flex-row lg:w-full lg:p-2 lg:px-5 lg:rounded-xl"
                id="btnChat"
            >
                <img src="/img/chatNoClick.svg" alt="" />
                <span class="mt-[3px] lg:ml-2"> Chat </span>
            </li>
        </a>
    </ul>
</header>
