---
const { categories } = Astro.props;

// Función para transformar el texto, eliminando acentos y convirtiendo a minúsculas
function slugify(text) {
    return text
        .normalize("NFD") // Descompone los acentos
        .replace(/[\u0300-\u036f]/g, "") // Elimina los acentos
        .toLowerCase() // Convierte todo a minúsculas
        .replace(/\s+/g, "-"); // Reemplaza los espacios por guiones
}
---

<h2 class="text-lg font-bold my-3">Algunas categorías populares</h2>
<style>
    .categoria-grid {
        background-color: #323232;
        padding: 15px;
        border-radius: 15px;
        border: 2px solid rgb(103, 103, 103);
    }
</style>
<ul class="grid grid-cols-2 gap-2 lg:grid-cols-4 w-full">
    {
        categories
            .filter((category) => category && category.trim() !== "") // Filtrar categorías vacías
            .map((category) => {
                const link = `/categoria/${slugify(category)}`; // Aplica la función slugify
                return (
                    <a href={link}>
                        <li class="categoria-grid">{category}</li>
                    </a>
                );
            })
    }
</ul>
