<h2 class="text-lg font-bold my-3">Algunas categorias populares</h2>
<style>
    .categoria-grid {
        background-color: #323232;
        padding: 15px;
        border-radius: 15px;
        border: 2px solid rgb(103, 103, 103);
    }
</style>
<ul class="grid grid-cols-2 gap-2 lg:grid-cols-4 w-full">
    <li class="categoria-grid">Logística</li>
    <li class="categoria-grid">Tecnología</li>
    <li class="categoria-grid">Marketing</li>
    <li class="categoria-grid">Finanzas</li>
    <li class="categoria-grid">RRHH</li>
    <li class="categoria-grid">Educación</li>
    <li class="categoria-grid">Salud</li>
    <li class="categoria-grid">Ingeniería</li>
</ul>
