---
import Categorias from "./Categorias.astro"
import Trabajos from "./Trabajos.astro"
import HeaderMobile from "../../HeaderMobile.astro"
---

<HeaderMobile title="Inicio" />
<div class="mt-6">
    <Categorias />
</div>
<Trabajos />
