---
import Categorias from "./Categorias.astro"
import Trabajos from "./Trabajos.astro"
import HeaderMobile from "../../HeaderMobile.astro"
import showdown from 'showdown';

// Realizar la solicitud desde Node.js al API
const response = await fetch('https://cumbre-server.onrender.com/api/home');
const { latestJobs, categories } = await response.json();

// Inicializar showdown para convertir Markdown a HTML
const converter = new showdown.Converter();
---

<HeaderMobile title="Inicio" />
<div class="mt-6">
    <Categorias categories={categories} />
</div>
<Trabajos latestJobs={latestJobs} converter={converter} />
