---
interface Props {
	title: string;
	description: string;
	canonicalUrl: string;
}

const { title, description, canonicalUrl } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description || "Descripción por defecto"} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} Cumbre</title>
		<style>
			* {
				transition: 0.3s;
			}
		</style>
		<link rel="canonical" href={canonicalUrl || "https://cumbre.icu"} />
		<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</head>
	<body class="bg-gray-950 text-white lg:flex">
		<slot />
		<script>
			// Mapeo de rutas a IDs de botones, nuevas imágenes y estilos adicionales
			const buttonsConfig = {
				"/": {
					id: "btnInicio",
					imgSrc: "/img/homeClick.svg",
					backgroundColor: "transparent", // Cambia a tu color de fondo deseado
					additionalClasses: ["font-bold", "text-white", "border-b", "border-white", "lg:border-2"], // Clases adicionales
				},
				"/buscar": {
					id: "btnBuscar",
					imgSrc: "/img/searchClick.svg",
					backgroundColor: "transparent",
					additionalClasses: ["font-bold", "text-white", "border-b", "border-white", "lg:border-2"],
				},
				"/chat": {
					id: "btnChat",
					imgSrc: "/img/chatClick.svg",
					backgroundColor: "transparent",
					additionalClasses: ["font-bold", "text-white", "border-b", "border-white", "lg:border-2"],
				},
			};

			// Obtener la ruta actual
			const currentPath = window.location.pathname;

			// Verificar si la ruta actual está en la configuración
			if (buttonsConfig[currentPath]) {
				const config = buttonsConfig[currentPath];

				// Seleccionar el botón y la imagen dentro de él
				const buttonElement = document.querySelector(`#${config.id}`);
				const imgElement = buttonElement.querySelector("img");

				// Verificar si el botón y la imagen fueron encontrados
				if (buttonElement && imgElement) {
					// Cambiar el src de la imagen
					imgElement.src = config.imgSrc;

					// Aplicar el fondo al botón
					buttonElement.style.backgroundColor =
						config.backgroundColor;

					// Agregar clases adicionales al botón
					config.additionalClasses.forEach((className) => {
						buttonElement.classList.add(className);
					});
				}
			}
		</script>
	</body>
</html>
