---
import Buscador from "./Buscador.astro";
import HeaderMobile from "../../HeaderMobile.astro";
import Categorias from "./Categorias.astro";
---

<HeaderMobile title="Buscar" />
<div class="mt-6 w-full">
    <Buscador />
    <Categorias />
</div>
