<div id="resultsContainer" style="display:none;">
    <div class="flex justify-between items-center mb-3">
        <span class="font-bold text-xl">Resultados</span>
        <button id="closeResults">
            <img class="w-[30px]" src="/img/close.svg" alt="Icon Close">
        </button>
    </div>
    <ul id="resultList"></ul>
</div>
